<section class="container md-4">
    <h2>Bienvenido de Nuevo</h2>
    <p>Inicia sesión para gestionar tus citas</p>
    <form id="form">
      <div class="form-group">
        <label for="email">Dirección de Correo Electrónico</label>
        <div class="input-group">
          <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
          <span class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm1 1.333v6.334l4.741-2.602L16 12V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v.667l4.741 2.602L0 5.333ZM7.341 7.804L1 11.105v-3.995l6.341 3.496L15 11.105v-3.995l-6.341 3.496L8 7.544l-.659.26Z"/>
            </svg>
          </span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Contraseña</label>
        <div class="input-group">
          <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
          <span class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg>
          </span>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
  
      <div class="mt-3">
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
      </div>
  
      <div class="mt-3">
        <span>¿No tienes una cuenta?</span> <a href="#" class="register-link">Regístrate aquí</a>.
      </div>
    </form>
  </section>