<app-header-login></app-header-login>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm border-0 rounded-3">
        <div class="card-body p-5 text-center">
          <img src="../../assets/img/traditional/home/fondo.png" alt="Imagen de Bienvenida" class="img-fluid rounded mb-4 fondo"  >
          <h1 class="display-4 fw-bold mb-3">Bienvenido</h1>
          <p class="lead mb-4 text">
            Bienvenido al sistema de gestión de citas de pacientes. Inicie sesión para continuar.
          </p>
          <button class="btn btn-primary btn-lg rounded-pill boton-primario" (click)="irAlLogin()">
            <i class="bi bi-box-arrow-in-right me-2"></i> Iniciar Sesión / Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
